@font-face{
	font-family: Thunder;
	font-display: swap;
	src: url("../fonts/Thunder-Light.woff2") format("woff2"), url("../fonts/Thunder-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: Thunder;
	font-display: swap;
	src: url("../fonts/Thunder-Bold.woff2") format("woff2"), url("../fonts/Thunder-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Thunder;
	font-display: swap;
	src: url("../fonts/Thunder-medium.woff2") format("woff2"), url("../fonts/Thunder-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
