doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/index.min.css")
		title Gulp 2023
	body 
	include ./views/header
	main
		h1 Simple
		h2 Gulp 
		h3 Starter
		figure
			img(src="@img/pexels-loc-dang-1626557.jpg", alt="Loc Dang")
			figcaption Cinematograph
	script(src="js/app.min.js") 